nav{
    background-color: cornflowerblue;
}

ul{
    list-style: none;
    overflow: hidden;
}

ul li{
    float: left;
}

ul li a{
    display: block;
    text-decoration: none;
    color: white;
    padding: 14px;
}

ul li a:hover{
    background-color: aqua;
}

.menuActivo{
    background-color: blue;
}

